/*.columns {
	margin-top: 20px;
}

.canceledFloatLeft {
	text-align: center;
}*/

.button img {
	width: 26px;
}
.is-info{
	font-size: 12px;
}
.petBox{
	position: relative;
}
.favoritesBtn{
	position: absolute;
	bottom:20px;
	width:250px;
	border-radius: 0;
}